body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
    padding-left:20px;
    padding-right:20px;
}

#items li:after {
    float:right;
    content:"x";
    color:gray;
    cursor:pointer;
}

span.item-value {
    margin-left:5em;
}

span.item-value:after {
    content: " (gp)";
}

label {
    display:inline-block;
    padding:5px;
}

input, textarea {
    margin-top:10px;
}

fieldset span {
    display:block;
}

section {
    padding:10px;
}

img#back {
    float:left;
    width:20px;
    height:20px;
    margin-left:-10px;
}

img#edit {
    float:right;
    width:20px;
    height:20px;
    margin-left:-10px;
}

.coin span {
    margin:10px;
}

/*
footer {
    position:absolute;
    width:100%;
    height:125px;
    bottom:0;
    left:0;
}
*/

@media screen and (max-width:767px) {
    .mdl-layout .mdl-layout__header {
        display:flex;
    }

    label {
        width:10em;
    }
}

@media screen and (min-width:768px) {
    #items li:hover {
        background:lightgray;
    }

    #view .container {
        margin:auto;
        width:50%;
    }

    label {
        width:15em;
    }
}