<section class="section--header mdl-grid mdl-grid--no-spacing mdl-cell--hide-tablet mdl-cell--hide-phone">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="mdl-content mdl-color--white mdl-shadow--6dp content mdl-cell mdl-cell--8-col mdl-cell--hide-tablet mdl-cell--hide-phone">
        <!--<img src="images/something.png" alt="" />-->
    </div>
</section>
<section class="section--main">
    <div class="mdl-crumbs mdl-color-text--grey-500">
        <ul>
            <li ng-repeat="crumb in breadCrumbs.crumbs track by $index"><a ng-href="{{crumb.path}}">{{crumb.display}}</a></li>
            <li><a href="javascript:void(0);">{{breadCrumbs.current.display}}</a></li>
        </ul>
    </div>
    <div class="mdl-container mdl-grid">
        <div class="mdl-card mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text mdl-color-text--primary">Edit Inventory</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <form class="mdl-form">
                    <fieldset>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input type="text" id="name" class="mdl-textfield__input" ng-model="inventory.name" autocomplete="off" required />
                            <label for="name" class="mdl-textfield__label">Character/Shop Name</label>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield">
                            <input type="number" id="gp" class="mdl-textfield__input" ng-model="inventory.coin.gp" autocomplete="off" required />
                            <label for="gp" class="mdl-textfield__label">Gold Pieces</label>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield">
                            <input type="number" id="sp" class="mdl-textfield__input" ng-model="inventory.coin.sp" autocomplete="off" required />
                            <label for="sp" class="mdl-textfield__label">Silver Pieces</label>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield">
                            <input type="number" id="cp" class="mdl-textfield__input" ng-model="inventory.coin.cp" autocomplete="off" required />
                            <label for="cp" class="mdl-textfield__label">Copper Pieces</label>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <div class="mdl-card__actions dialog-button-bar">
                    <input type="submit" class="mdl-button mdl-js-button mdl-button--colored" value="Done"  ng-click="addInventory(inventory.id)"/>
                </div>
            </div>
        </div>
    </div>
</section>
