<a ng-href="view/{{inventory.id}}" title="Go Back">
    <i class="material-icons">keyboard_backspace</i>
</a>
<br />
<form ng-submit="addItem()">
    <fieldset>
        <div>
            <label for="item.name">Item Name:</label>
            <input type="text" ng-model="item.name" placeholder="Deadly Longsword of Death" autofocus required />
        </div>

        <div>
            <label for="item.value">Item Value(gp):</label>
            <input type="number" ng-model="item.value" placeholder="1000000" />
        </div>

        <div>
            <label for="item.desc">Item Description:</label>
            <textarea ng-model="item.desc" required></textarea>
        </div>
    </fieldset>

    <input type="submit" value="Add Item" />
</form>
