<section class="section--header mdl-grid mdl-grid--no-spacing mdl-cell--hide-tablet mdl-cell--hide-phone">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="mdl-content mdl-color--white mdl-shadow--6dp content mdl-cell mdl-cell--8-col mdl-cell--hide-tablet mdl-cell--hide-phone">
        <!--<img src="images/something.png" alt="" />-->
    </div>
</section>
<section class="section--main">
    <div class="mdl-container mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        <div class="mdl-crumbs mdl-color-text--grey-500">
            <ul>
                <li ng-repeat="crumb in breadCrumbs.crumbs track by $index"><a ng-href="{{crumb.path}}">{{crumb.display}}</a></li>
                <li>{{breadCrumbs.current.display}}</li>
            </ul>
        </div>
        <div id="{{inventory.id}}" class="mdl-card mdl-grid mdl-shadow--4dp ng-scope content mdl-cell mdl-cell--8-col">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text mdl-color-text--primary">{{inventory.name}}</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <span class="coin">
                    <span>GP: {{inventory.coin.gp}}</span>
                    <span>SP: {{inventory.coin.sp}}</span>
                    <span>CP: {{inventory.coin.cp}}</span>
                </span>
            </div>
            <div class="mdl-card__actions mdl-card--border">
            </div>
            <div class="mdl-card__menu">
                <button ng-click="editInventory(inv.id)" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">edit</i>
                </button>
            </div>
        </div>
        <div id="{{inv.id}}" class="mdl-card mdl-grid mdl-shadow--4dp ng-scope content mdl-cell mdl-cell--8-col" ng-repeat="item in inventory.items track by $index">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text mdl-color-text--primary">{{item.name}}</h2>
            </div>
            <div class="mdl-card__supporting-text">
                {{item.desc}}
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a ng-href="view/{{inventory.id}}/item/{{item.id}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    View Item
                </a>
            </div>
            <div class="mdl-card__menu">
                <button ng-click="editItem(inventory.id,item.id)" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">edit</i>
                </button>
                <button ng-click="goToRemoveItem(inventory.id,item.id)" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">clear</i>
                </button>
            </div>
        </div>
    </div>
</section>

<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent fab" ng-click="newItem(inventory.id)">
    <i class="material-icons" role="presentation">add</i>
    <span class="visuallyhidden">New Item</span>
</button>
