<section class="section--header mdl-grid mdl-grid--no-spacing mdl-cell--hide-tablet mdl-cell--hide-phone">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="mdl-content mdl-color--white mdl-shadow--6dp content mdl-cell mdl-cell--8-col mdl-cell--hide-tablet mdl-cell--hide-phone">
        <!--<img src="images/something.png" alt="" />-->
    </div>
</section>
<div class="container">
</div>

<section class="section--main">
    <div class="mdl-container mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        <div class="mdl-content mdl-grid mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
            <div class="mdl-crumbs mdl-color-text--grey-500">
                <ul>
                    <li ng-repeat="crumb in breadCrumbs track by $index"><a ng-href={{crumb.path}}>{{crumb.display}}</a></li>
                </ul>
            </div>
            <div class="innerDiv">
                <h3 class="mdl-color-text--primary">{{inventory.name}}</h3>
                <h4 class="mdl-color-text--primary">Available Coin</h4>
                <p class="coin">
                    <span>GP: {{inventory.coin.gp}}</span>
                    <span>SP: {{inventory.coin.sp}}</span>
                    <span>CP: {{inventory.coin.cp}}</span>
                </p>

                <h4 class="mdl-color-text--primary">Items</h4>
                <ul id="items" class="mdl-list-icon mdl-list">
                    <li class="mdl-list__item" ng-repeat="item in inventory.items track by $index">
                        <span class="item-name mdl-list__item-primary-content">{{item.name}}</span>
                        <span class="item-value">{{item.value}}</span>
                        <span class="mdl-list__item-secondary-action">
                            <label class="mdl-js-ripple-effect" data-upgraded=",MaterialRipple">
                                <i class="material-icons">xx</i>
                            </label>
                        </span>
                        <span class="mdl-list__item-secondary-action">
                            <label class="mdl-js-ripple-effect" data-upgraded=",MaterialRipple">
                                <i class="material-icons">edit</i>
                            </label>
                        </span>
                        <span class="mdl-list__item-secondary-action">
                            <label class="mdl-js-ripple-effect" data-upgraded=",MaterialRipple">
                                <i class="material-icons">clear</i>
                            </label>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent fab" ng-click="newItem()">
    <i class="material-icons" role="presentation">add</i>
    <span class="visuallyhidden">New Item</span>
</button>